<%- include('parts/header') %>
    <%- include('parts/navbar') %>

        <div class="container">
            <div>

                <%if(items.length===0){%>
                    <p style="color: red;">There is no item</p>
                    <%}%>

            </div>


            <table>
                <thead>
                    <td>no</td>
                    <td>product name</td>
                    <td>price</td>
                    <td>Amount</td>
                    <td>Total</td>
                </thead>
                <tbody>
                    <%for(let i=0; i<items.length; i++ ){%>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= items[i].name %>
                            </td>
                            <td>
                                <%= items[i].price %>$
                            </td>
                            <form method="post">
                                <td>
                                    <input type="text" name="amount" value="<%=items[i].amount%>">
                                </td>
                                <td>
                                    <%= items[i].price * items[i].amount %> $
                                </td>

                                <td>
                                    <input type="hidden" name="cartId" value="<%=items[i]._id%>">
                                    <input type="submit" class="btn btn-success" value="Save" formaction="/cart/save">
                                    <input type="submit" class="btn btn-danger" value="Delete"formaction="/cart/delete">

                                </td>
                            </form>

                        </tr>
                        <%}%>
                </tbody>
            </table>
            
          <div>
            <%if(validationError){%>
                <p style="color: red;">
                    <%=validationError.msg%>
                </p>
                <%}%>
          </div>
        </div>


        <%- include('parts/footer') %>